[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

*.pidb
*.suo
*.user
*.userprefs
*.tmp
*.booproj
*.svd
*.pdb
*.opendb
*.bak

.DS_Store
Thumbs.db
Desktop.ini

.vs/
.idea/
*.csproj
*.sln
*.suo
*.ncb
*.vcxproj
*.vcxproj.filters